.scrollable {
  height: auto;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.vh-70 {
  height: 85vh;
}

.vh-65 {
  height: 70vh;
}

.hpc-33 {
  height: 33%;
}

.relContain {
  position: relative;
  display: flex;
  justify-content: center;
}
.absChild {
  position: absolute;
  top: 50%;
}
.vertCent {
  padding-top: 30%;
}

.is-vcentered {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: #48c774 #363636;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #48c774;
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid #363636;
}
